@font-face {
  font-family: 'Cabin-Regular';
  src: url(../fonts/Cabin-Regular.ttf);
}

@font-face {
  font-family: 'Cabin-Bold';
  src: url(../fonts/Cabin-Bold.ttf);
}

@font-face {
  font-family: 'Cabin-SemiBold';
  src: url(../fonts/Cabin-SemiBold.ttf);
}