.nav {
  &.mobile {
    height: 56px;
    box-shadow: 0 1px 0 0 #E6E6E6;
    z-index: 1;
    position: relative;
  }
}

.hero {
  background: #F7F9FA;
  padding: 456px 0 48px;

  &__container {
    display: flex;
    flex-direction: column-reverse;
  }

  &__column {
    text-align: center;
  }

  &__title {
    margin-bottom: 31px;
  }

  &__image {
    background: url('../images/hero.png'), no-repeat;
    height: 400px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 88px;
  }
}

.company {
  background: #213A4B;
  padding: 48px 0;

  &__content {
    text-align: center;
    line-height: 31px;
  }
}

.products {
  background: #F7F9FA;
  padding: 48px 0;

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__item {
    position: relative;

    &__title {
      margin-bottom: 16px;
    }

    &__content {
      margin-bottom: 24px;
    }

    &--left {
      .products__item__image {
        background: url('../images/image1.png');
        width: 327px;
        height: 285px;
        margin-bottom: 64px;

        &:before {
          content: " ";
          position: absolute;
          background: #2E3BFA;
          width: 322px;
          height: 287px;
          left: 0;
          top: 30px;
        }
      }
    }

    &--right {
      .products__item__image {
        background: url('../images/image2.png');
        width: 327px;
        height: 285px;
        margin-bottom: 64px;
        margin-top: 48px;

        &:before {
          content: " ";
          position: absolute;
          background: #0167F7;
          width: 322px;
          height: 287px;
          left: 0;
          top: 30px;
        }
      }
    }
  }
}

.team {
  background: #F7F9FA;
  padding: 48px 0;

  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__row {
    &__title {
      margin-bottom: 24px;
      text-align: center;
    }

    &__list {
      display: flex;
      overflow: scroll;
      margin-left: 88px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 16px;

        &__name {
          font-family: 'Cabin-Bold', sans-serif;
          font-size: 17px;
          color: #3C4352;
          margin-top: 25px;
        }

        &__position {
          font-family: 'Cabin-Regular', sans-serif;
          font-size: 14px;
          color: #91969E;
          margin-top: 9px;
        }
      }
    }

    &:last-child {
      margin-top: 32px;
    }
  }
}

.subscription {
  background: #213A4B;
  padding: 48px 0 45px;

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__button {
    width: 100%;
    border-radius: 0;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &__label {
      margin-bottom: 16px;
    }

    &__input, &__textarea {
      background: #374E5D;
      border: none;
      padding: 16px;
      box-sizing: border-box;
      color: white;
      font-family: 'Cabin-Regular', sans-serif;
      font-size: 14px;

      &:focus {
        background: white;
        font-family: 'Cabin-Regular', sans-serif;
        font-size: 14px;
        color: #3C4352;
      }
    }

    &__input {
      height: 50px;
    }

    &__textarea {
      height: 204px;
    }

  }
}