@import "reset";
@import "fonts";
@import "components";
@import "sections";

body {
  font-family: 'Cabin-Regular', sans-serif;
  color: #3C4352;
  font-size: 14px;
  line-height: 18px;
}

h1 {
  font-family: 'Cabin-Bold', sans-serif;
  color: #3C4352;
  font-size: 27px;
  line-height: 41px;
}

h2 {
  font-family: 'Cabin-Bold', sans-serif;
  color: #3C4352;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.white {
    &:after {
      background: white;
    }
  }

  &:after {
    content: " ";
    width: 48px;
    height: 4px;
    background: #3C4352;
    margin-top: 16px;
  }
}

h3 {
  font-family: 'Cabin-SemiBold', sans-serif;
  color: #3C4352;
  font-size: 21px;
  line-height: 25px;
}

h4 {
  font-family: 'Cabin-Bold', sans-serif;
  color: #616774;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-family: 'Cabin-Regular', sans-serif;
  color: #91969E;
  font-size: 14px;
  line-height: 24px;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.white {
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.desktop {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}

.mobile {
  @media screen and (max-width: 767px) {
    display: inherit;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}