@import "reset";
@import "fonts";
@import "components";
@import "sections";

body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #3C4352;
  font-size: 14px;
  line-height: 18px;
  overflow-x: hidden;
}

h1 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  color: #3C4352;
  font-size: 27px;
  line-height: 41px;

  @media screen and (min-width: 1024px) {
    font-size: 35px;
    line-height: 51px;
  }
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  color: #3C4352;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1024px) {
    font-size: 25px;
    line-height: 30px;
  }

  &.white {
    &:after {
      background: white;
    }
  }

  &:after {
    content: " ";
    width: 48px;
    height: 4px;
    background: #3C4352;
    margin-top: 16px;
  }
}

h3 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  color: #3C4352;
  font-size: 21px;
  line-height: 25px;

  @media screen and (min-width: 1024px) {
    font-size: 25px;
    line-height: 30px;
  }
}

h4 {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  color: #616774;
  font-size: 18px;
  line-height: 22px;
}

p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  color: #91969E;
  font-size: 14px;
  line-height: 24px;

  @media screen and (min-width: 1024px) {
    font-size: 18px;
    line-height: 27px;
  }
}

a {
  color: #3C4352;
  text-decoration: none;
  -webkit-transition: all 0.4s cubic-bezier(0.18, 0.98, 0.45, 1);
    -moz-transition: all 0.4s cubic-bezier(0.18, 0.98, 0.45, 1);
    -o-transition: all 0.4s cubic-bezier(0.18, 0.98, 0.45, 1);
    transition: all 0.4s cubic-bezier(0.18, 0.98, 0.45, 1);

    &:hover {
      color: #1096BF;
    }
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.white {
  color: white;
}

.hide {
  display: none;
}

.lock-scroll {
  overflow: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    width: 85%;
  }
}

.desktop {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}