/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Cabin-Regular';
  src: url(../fonts/Cabin-Regular.ttf); }

@font-face {
  font-family: 'Cabin-Bold';
  src: url(../fonts/Cabin-Bold.ttf); }

@font-face {
  font-family: 'Cabin-SemiBold';
  src: url(../fonts/Cabin-SemiBold.ttf); }

.button--primary {
  background: #1096BF;
  border: none;
  color: #E9F5F6;
  font-family: 'Cabin-Bold', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 23px 48px 25px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(33, 58, 75, 0.12);
  border-radius: 4px; }

.button--transparent {
  background: none;
  border: none;
  font-family: 'Cabin-Bold', sans-serif;
  font-size: 14px;
  color: #0B7C9F;
  padding: 0;
  position: relative; }
  .button--transparent:after {
    content: " ";
    position: absolute;
    background: url("../images/arrow.svg");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-left: 8px;
    margin-top: 5px; }

.logo {
  background: url("../images/logo.svg") no-repeat;
  background-size: contain;
  width: 105px;
  height: 32px; }
  @media screen and (min-width: 1024px) {
    .logo {
      width: 157px;
      height: 48px; } }

.nav {
  box-shadow: 0 1px 0 0 #E6E6E6;
  z-index: 1;
  position: relative; }
  .nav__container {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .nav__container {
        height: 80px; } }
  .nav__hamb {
    background: url("../images/ic_burger.svg"), no-repeat;
    background-size: cover;
    height: 14px;
    width: 20px; }
  .nav__list__item .icon {
    width: 20px;
    height: 20px; }
  @media screen and (min-width: 768px) {
    .nav__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 450px; } }

.hero {
  background: #F7F9FA;
  padding: 456px 0 48px; }
  @media screen and (min-width: 768px) {
    .hero {
      display: inherit;
      padding: 173px 0 173px; } }
  @media screen and (min-width: 1024px) {
    .hero {
      padding: 173px 0 343px; } }
  .hero__container {
    display: flex;
    flex-direction: column-reverse; }
    @media screen and (min-width: 768px) {
      .hero__container {
        flex-direction: row; } }
  .hero__column {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .hero__column {
        text-align: left; } }
  .hero__title {
    margin-bottom: 31px; }
    @media screen and (min-width: 768px) {
      .hero__title {
        width: 62%; } }
    @media screen and (min-width: 1024px) {
      .hero__title {
        width: 45%; } }
  .hero__image {
    background: url("../images/hero.png"), no-repeat;
    height: 400px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 88px;
    background-size: cover;
    background-position-x: 30%; }
    @media screen and (min-width: 768px) {
      .hero__image {
        height: 300px;
        width: 45%;
        top: 150px;
        background-position-x: inherit; } }
    @media screen and (min-width: 1024px) {
      .hero__image {
        height: 900px;
        width: 100%;
        background-position-x: 400px;
        background-repeat: no-repeat; } }

.company {
  background: #213A4B;
  padding: 48px 0; }
  @media screen and (min-width: 768px) {
    .company {
      padding: 172px 0;
      text-align: center; } }
  .company__title {
    margin-bottom: 56px; }
  .company__content {
    text-align: center;
    line-height: 31px; }
    @media screen and (min-width: 768px) {
      .company__content {
        max-width: 60%;
        margin: 0 auto; } }
    @media screen and (min-width: 1024px) {
      .company__content {
        max-width: 60%;
        font-size: 25px;
        line-height: 40px; } }

.products {
  background: #F7F9FA;
  padding: 48px 0;
  position: relative;
  z-index: -100; }
  @media screen and (min-width: 1024px) {
    .products {
      padding: 172px 0; } }
  .products__title {
    text-align: center;
    margin-bottom: 32px; }
    @media screen and (min-width: 768px) {
      .products__title {
        margin-bottom: 56px; } }
  .products__item {
    position: relative; }
    .products__item__title {
      margin-bottom: 16px; }
    .products__item__content {
      margin-bottom: 24px; }
    .products__item .products__item__content__container {
      margin-top: 56px;
      margin-right: 46px; }
    @media screen and (min-width: 1024px) {
      .products__item--left {
        margin-bottom: 56px; } }
    .products__item--left .products__item__image {
      background: url("../images/image1.png");
      background-size: contain;
      width: 327px;
      height: 285px;
      margin-bottom: 64px; }
      @media screen and (min-width: 768px) {
        .products__item--left .products__item__image {
          margin-right: 46px; } }
      @media screen and (min-width: 1024px) {
        .products__item--left .products__item__image {
          width: 600px;
          height: 523px; } }
      .products__item--left .products__item__image:before {
        content: " ";
        position: absolute;
        background: #2E3BFA;
        width: 322px;
        height: 287px;
        left: 0;
        top: 30px;
        z-index: -1; }
        @media screen and (min-width: 1024px) {
          .products__item--left .products__item__image:before {
            width: 650px;
            height: 523px;
            top: 56px; } }
    @media screen and (min-width: 768px) {
      .products__item--right .products__container {
        flex-direction: row-reverse; } }
    .products__item--right .products__item__image {
      background: url("../images/image2.png");
      background-size: contain;
      width: 327px;
      height: 285px;
      margin-bottom: 64px;
      margin-top: 48px; }
      @media screen and (min-width: 1024px) {
        .products__item--right .products__item__image {
          width: 600px;
          height: 523px;
          margin-top: 0; } }
      .products__item--right .products__item__image:before {
        content: " ";
        position: absolute;
        background: #0167F7;
        width: 322px;
        height: 287px;
        left: 0;
        top: 30px;
        z-index: -1; }
        @media screen and (min-width: 768px) {
          .products__item--right .products__item__image:before {
            right: 0;
            left: inherit;
            top: 78px; } }
        @media screen and (min-width: 1024px) {
          .products__item--right .products__item__image:before {
            width: 650px;
            height: 523px;
            top: 56px; } }
  @media screen and (min-width: 768px) {
    .products__container {
      display: flex; } }

.team {
  background: #F7F9FA;
  padding: 48px 0; }
  @media screen and (min-width: 1024px) {
    .team {
      padding-bottom: 172px; } }
  .team__title {
    text-align: center;
    margin-bottom: 32px; }
  .team__row__title {
    margin-bottom: 24px;
    text-align: center; }
  .team__row__list {
    display: flex;
    overflow: scroll;
    margin-left: 88px; }
    @media screen and (min-width: 1024px) {
      .team__row__list {
        margin-left: 0;
        justify-content: center; } }
    .team__row__list__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 16px; }
      .team__row__list__item__name {
        font-family: 'Cabin-Bold', sans-serif;
        font-size: 17px;
        color: #3C4352;
        margin-top: 25px; }
      .team__row__list__item__position {
        font-family: 'Cabin-Regular', sans-serif;
        font-size: 14px;
        color: #91969E;
        margin-top: 9px; }
  .team__row:last-child {
    margin-top: 32px; }

.subscription {
  background: #213A4B;
  padding: 48px 0 45px; }
  @media screen and (min-width: 1024px) {
    .subscription {
      padding: 120px 0 172px; } }
  .subscription__title {
    text-align: center;
    margin-bottom: 24px; }
  .subscription__button {
    width: 100%;
    border-radius: 0; }
  @media screen and (min-width: 1024px) {
    .subscription__form {
      max-width: 45%;
      margin: 0 auto; } }
  .subscription__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px; }
    .subscription__form-group__label {
      margin-bottom: 16px; }
    .subscription__form-group__input, .subscription__form-group__textarea {
      background: #374E5D;
      border: none;
      padding: 16px;
      box-sizing: border-box;
      color: white;
      font-family: 'Cabin-Regular', sans-serif;
      font-size: 14px; }
      .subscription__form-group__input:focus, .subscription__form-group__textarea:focus {
        background: white;
        font-family: 'Cabin-Regular', sans-serif;
        font-size: 14px;
        color: #3C4352; }
    .subscription__form-group__input {
      height: 50px; }
    .subscription__form-group__textarea {
      height: 204px; }

.footer {
  background: #F7F9FA;
  padding: 48px 0;
  text-align: center; }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .footer__logo, .footer__social {
    margin-bottom: 40px; }
  .footer__social__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 104px; }

body {
  font-family: 'Cabin-Regular', sans-serif;
  color: #3C4352;
  font-size: 14px;
  line-height: 18px; }

h1 {
  font-family: 'Cabin-Bold', sans-serif;
  color: #3C4352;
  font-size: 27px;
  line-height: 41px; }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 35px;
      line-height: 51px; } }

h2 {
  font-family: 'Cabin-Bold', sans-serif;
  color: #3C4352;
  font-size: 21px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 25px;
      line-height: 30px; } }
  h2.white:after {
    background: white; }
  h2:after {
    content: " ";
    width: 48px;
    height: 4px;
    background: #3C4352;
    margin-top: 16px; }

h3 {
  font-family: 'Cabin-SemiBold', sans-serif;
  color: #3C4352;
  font-size: 21px;
  line-height: 25px; }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 25px;
      line-height: 30px; } }

h4 {
  font-family: 'Cabin-Bold', sans-serif;
  color: #616774;
  font-size: 18px;
  line-height: 22px; }

p {
  font-family: 'Cabin-Regular', sans-serif;
  color: #91969E;
  font-size: 14px;
  line-height: 24px; }
  @media screen and (min-width: 1024px) {
    p {
      font-size: 18px;
      line-height: 27px; } }

button:focus, input:focus, textarea:focus {
  outline: none; }

button {
  cursor: pointer; }

.white {
  color: white; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .container {
      width: 85%; } }

@media screen and (max-width: 767px) {
  .desktop {
    display: none; } }

@media screen and (min-width: 768px) {
  .mobile {
    display: none; } }
